.highlight-warning {
    background-color: #fff5f5; /* Light red */
  }
  
  .highlight-interacting {
    background-color: #f0faff; /* Soft blue */
  }
  
  .border-offline {
    border-color: #ccc;
  }
  
  .border-idle {
    border-color: #facc15; /* yellow-400 */
  }
  
  .border-interacting {
    border-color: #3b82f6; /* blue-500 */
  }
  
  .border-not-responding {
    border-color: #ef4444; /* red-500 */
  }
  
  .border-available {
    border-color: #10b981; /* green-500 */
  }
  